.navicon{
    color: #fff;
}

.main-panel .navbar {
    margin-bottom: 0;
    background-color: #6986be;
    color: #fff;
    border-left: 1px solid #fff;
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.8)), url("https://cdn.pixabay.com/photo/2018/10/11/10/19/invoice-3739354_960_720.jpg"); */
    /* background: linear-gradient(rgba(250, 178, 44, 0.1), rgba(248, 244, 224, 0.8)); */
    /* background-image: linear-gradient(rgb(248, 194, 114 ,0.3), rgb(255, 230, 148 ,0.1)); */
    /* background-image: linear-gradient( rgb(248, 194, 114 ,0.3), rgb(248, 194, 114 ,0.1) , rgb(255, 230, 148 ,0.1)); */
}

.ProfilePic{
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 50%;
    margin-top: 0px;
    background-color: #004c04;
    color: white;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.profilespan{
    font-size: 12px;
    margin: 6px;
  }
  .active-nav-item {
    color: '#023020' !important;  /* Green or your chosen color */
    font-weight: bold !important;
  }

  /* Profile dropdown container */
.profile-dropdown {
    position: relative;
  }
  
  /* Style the dropdown toggle button */
  .dropdown-toggle-custom {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
  }
  
  /* Adjust dropdown menu position */
  .dropdown-menu-custom {
    left: unset !important;
    right: 0 !important;
    min-width: 180px;
    top: 50px !important;
  }

/* Style the dropdown items */
.dropdown-menu-custom .dropdown-item {
    font-size: 14px;
    padding: 5px;
  }  

/* Remove Bootstrap's default arrow */
.dropdown-menu::before,
.dropdown-menu::after {
  display: none !important;
}